.navbar {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 100;

    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.hospital-logo {
    font-size: 30px;
    margin-right: 5px;

}

.nav-link {
    transition: background-color 0.4s ease;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: rgba(34, 34, 34, 0.1);
}

.navbar .search-form {
    margin-left: auto; /* Pushes the search form to the right */
}
  
.search-form input {
width: 200px; /* Set desired width */
}

.search-form button {
border: none;
}