.nursing-homes-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


.nursing-home-item {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 230px;
  display: inline-block;
  vertical-align: top;
  height: 370px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;

  transition: transform 0.3s;
}

.nursing-home-item:hover {
  transform: scale(1.05);
}

.nursing-home-image {
  width: 100%;
  max-width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}


.nursing-home-item h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 5px 0;
  height: auto;
  white-space: normal;
  overflow: hidden;
}


.nursing-home-item p {
  margin: 5px 0;
  font-size: 0.9em;
  line-height: 1.4;
}


.nursing-home-item a {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #007bff;
  text-decoration: none;
  font-size: 0.85em;
}

.nursing-home-item a:hover {
  text-decoration: underline;
}

.nursing-home-item:hover {
  overflow-y: auto;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 5px 15px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.nursing-homes-title {
  font-size: 1.6em;
  margin-bottom: 15px;
}

.nursing-homes-description {
  font-size: 1em;
  margin-bottom: 30px;
  color: #555;
}


@media (max-width: 768px) {
  .nursing-home-item {
    width: 100%;
    margin: 10px 0;
    height: auto;
  }
}